#window2 {
    background-color: black;
}

#window1 {
    background-color: black;
}

#aboutdialog1 {
    background-color: black;
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
